body main {
  background: #f2f2f2;
}
body .home-page .results-row .rz-datalist-content .rz-g {
  display: flex;
  flex-direction: column;
}
body .search-button {
  padding: 0px;
  margin-left: 10px;
  border-color: black;
  border-style: solid;
  border-color: #63737a;
  border-width: 1px;
  background-color: #28363c !important;
}
body .home-page {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: stretch;
}
body .home-page .row {
  padding: 5px 0 5px 0;
  margin: 5px 0 5px 0;
}
body .sidebar .top-row {
  background: #1c2025;
}
body .sidebar .nav-themed {
  background: #233a52;
  background: linear-gradient(0deg, #233a52 0%, #1b2128 28%, #1c2025 100%);
}
body #IdeaView .tags-row .tags-bar {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 15px;
}
body #IdeaView .tags-row .tags-bar span {
  margin: 0 2px 2px;
}
body .rz-dialog-content {
  height: 100%;
}
body .rz-dialog-content .dialog-window {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  height: 100%;
}
body .rz-dialog-content .dialog-window .alert-row {
  padding: 0px 0px 0 13px !important;
  margin: -35px 9px 0px -9px !important;
}
body .rz-dialog-content .dialog-window .idea-form {
  padding: 0 5px 0 5px;
  margin-right: 10px;
}
body .rz-dialog-content .dialog-window .idea-form .form-input {
  margin: 0 0px 0 10px;
}
body .rz-dialog-content .dialog-window .tags-form {
  padding: 0 5px 0 5px;
  margin-right: 10px;
}
body .rz-dialog-content .dialog-window .control-row {
  margin-top: 20px;
  margin-bottom: 20px;
}
body .ideas-container {
  max-width: 100% !important;
  width: 100% !important;
}
body .ideas-container .grid-row .rz-data-grid {
  margin: 0 0 0 0 !important;
  padding: 0 0 0 0;
}
body .ideas-container .buttons-row {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;
}
body .ideas-container .buttons-row .rz-button {
  margin: 0 3px 0 4px;
}
